In [35]:
import pandas as pd

In [36]:
# import weather data
weather_file = pd.read_csv("weather2018.csv")
weather_file.head()

       STATION           NAME        DATE   AWND  PRCP  SNOW  TAVG
0  USW00014739  BOSTON, MA US  2018-01-01  16.33  0.00   0.0     6
1  USW00014739  BOSTON, MA US  2018-01-02  12.75  0.00   0.0    10
2  USW00014739  BOSTON, MA US  2018-01-03   9.40  0.00   0.0    21
3  USW00014739  BOSTON, MA US  2018-01-04  22.59  1.35  13.4    26
4  USW00014739  BOSTON, MA US  2018-01-05  24.83  0.00   0.0    18

In [65]:
# import OTP data
OTP_file1 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_01_Feb.csv")
OTP_file2 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_02_Mar.csv")
OTP_file3 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_03_Apr.csv")
OTP_file4 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_04_May.csv")
OTP_file5 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_05_Jun.csv")
OTP_file6 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_06_Jul.csv")
OTP_file7 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_07_Aug.csv")
OTP_file8 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_08_Sep.csv")
OTP_file9 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_09_Oct.csv")
OTP_file10 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_10_Nov.csv")
OTP_file11 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_11_Dec.csv")
OTP_file12 = pd.read_csv("OTP2018/Ontime_Performance_Peak_Offpeak_2018_12_Jan.csv")

In [69]:
p = OTP_file1"otp_numerator""otp_denominator"])
OTP_file1["OTP Accuracy"]= p

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [67]:
del OTP_file1["cancelled_numerator"]

In [68]:
OTP_file1 = OTP_file1.rename(columns={"service_date":"DATE"})
OTP_file1

,gtfs_route_id,gtfs_route_short_name,gtfs_route_long_name,gtfs_route_desc,route_category,mode_type,DATE,peak_offpeak_ind,metric_type,otp_numerator,otp_denominator
0,Red,NaN,Red Line,Rapid Transit,Red Line,Rail,2018-01-01,OFF_PEAK,Passenger Wait Time,88683.844569,100599.137204
1,Red,NaN,Red Line,Rapid Transit,Red Line,Rail,2018-01-01,PEAK,Passenger Wait Time,69497.153843,76869.315426
2,Orange,NaN,Orange Line,Rapid Transit,Orange Line,Rail,2018-01-01,PEAK,Passenger Wait Time,60556.385998,69294.408306
3,Orange,NaN,Orange Line,Rapid Transit,Orange Line,Rail,2018-01-01,OFF_PEAK,Passenger Wait Time,85650.233129,94764.733665
4,Green-B,B,Green Line B,Rapid Transit,Green Line,Rail,2018-01-01,PEAK,Passenger Wait Time,6903.963093,9085.190096
...,...,...,...,...,...,...,...,...,...,...,...
9261,554,554,NaN,Express Bus,Other Bus,Bus,2018-01-31,OFF_PEAK,Headway / Schedule Adherence,43.000000,124.000000
9262,556,556,NaN,Express Bus,Other Bus,Bus,2018-01-31,OFF_PEAK,Headway / Schedule Adherence,49.000000,61.000000
9263,556,556,NaN,Express Bus,Other Bus,Bus,2018-01-31,PEAK,Headway / Schedule Adherence,37.000000,55.000000
9264,558,558,NaN,Express Bus,Other Bus,Bus,2018-01-31,PEAK,Headway / Schedule Adherence,43.000000,55.000000
9265,558,558,NaN,Express Bus,Other Bus,Bus,2018-01-31,OFF_PEAK,Headway / Schedule Adherence,27.000000,38.000000

In [59]:
#merge OTP1 with weather data
merge_Jan= pd.merge(OTP_file1,weather_file,on="DATE",how="outer")
merge_Jan

,gtfs_route_id,gtfs_route_short_name,gtfs_route_long_name,gtfs_route_desc,route_category,mode_type,DATE,peak_offpeak_ind,metric_type,otp_numerator,otp_denominator,OTP Accuracy,STATION,NAME,AWND,PRCP,SNOW,TAVG
0,Red,NaN,Red Line,Rapid Transit,Red Line,Rail,2018-01-01,OFF_PEAK,Passenger Wait Time,88683.844569,100599.137204,1.0,USW00014739,"BOSTON, MA US",16.33,0.00,0.0,6
1,Red,NaN,Red Line,Rapid Transit,Red Line,Rail,2018-01-01,PEAK,Passenger Wait Time,69497.153843,76869.315426,1.0,USW00014739,"BOSTON, MA US",16.33,0.00,0.0,6
2,Orange,NaN,Orange Line,Rapid Transit,Orange Line,Rail,2018-01-01,PEAK,Passenger Wait Time,60556.385998,69294.408306,1.0,USW00014739,"BOSTON, MA US",16.33,0.00,0.0,6
3,Orange,NaN,Orange Line,Rapid Transit,Orange Line,Rail,2018-01-01,OFF_PEAK,Passenger Wait Time,85650.233129,94764.733665,1.0,USW00014739,"BOSTON, MA US",16.33,0.00,0.0,6
4,Green-B,B,Green Line B,Rapid Transit,Green Line,Rail,2018-01-01,PEAK,Passenger Wait Time,6903.963093,9085.190096,1.0,USW00014739,"BOSTON, MA US",16.33,0.00,0.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9595,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-27,NaN,NaN,NaN,NaN,NaN,USW00014739,"BOSTON, MA US",9.17,0.00,0.0,34
9596,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28,NaN,NaN,NaN,NaN,NaN,USW00014739,"BOSTON, MA US",11.41,0.33,0.0,41
9597,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-29,NaN,NaN,NaN,NaN,NaN,USW00014739,"BOSTON, MA US",13.20,0.00,0.0,49
9598,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-30,NaN,NaN,NaN,NaN,NaN,USW00014739,"BOSTON, MA US",6.26,0.00,0.0,32
9599,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,NaN,NaN,NaN,NaN,NaN,USW00014739,"BOSTON, MA US",10.51,0.41,0.0,36